@page
@model ServiceHost.Pages.ProductCategoryModel
@{
    ViewData["Title"] = "محصولات";
}
@section CSS{
    <link href="~/Theme/css/nouislider.min.css" rel="stylesheet" />
    <link href="~/Theme/css/main.css" rel="stylesheet" />
}
@section JS{
    <link href="~/Theme/js/nouislider.min.js" rel="stylesheet" />
}
<div class="wrapper default">
    <!-- main -->
    <main class="search-page default space-top-30">
        <div class="container">
            <div class="row">
                <div class="col-12 hidden-xs">
                    <div class="brand-slider card border_all">
                        <header class="card-header">
                            <h3 class="card-title"><span>دسته بندی ها</span></h3>
                        </header>
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    @foreach (var category in Model.ProductCategories)
                                    {
                                        <div class="col-6 col-md-2 contact-bigicon">
                                            <a asp-page="/ProductCategory" asp-route-id="@category.Slug" target="_blank">
                                                <img class="img-responsive imgpad"
                                                     src = "@category.Picture"
                                                     alt="@category.PictureAlt"
                                                     title="@category.PictureTitle"/>
                                                <b class="title-3 light-black">@category.Name</b>
                                            </a>
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <aside class="sidebar-page col-12 col-sm-12 col-md-4 col-lg-3">
                    <div class="box">
                        <header class="card-header">
                            <h3 class="card-title">
                                <span class="space-right-10">رنگ</span>
                            </h3>
                        </header>
                        <div class="box-content">
                            <div class="collapse show">
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> مشکی</label>
                                    <span
                                        class="color_pro_sel"
                                        style="background-color: #000"
                                    ></span>
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> قرمز</label>
                                    <span
                                        class="color_pro_sel"
                                        style="background-color: #ff0000"
                                    ></span>
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> زرد</label>
                                    <span
                                        class="color_pro_sel"
                                        style="background-color: #ffd800"
                                    ></span>
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> آبی</label>
                                    <span
                                        class="color_pro_sel"
                                        style="background-color: #0000ff"
                                    ></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <header class="card-header">
                            <h3 class="card-title">
                                <span class="space-right-10">لیست برند ها</span>
                            </h3>
                        </header>
                        <div class="box-content">
                            <div class="collapse show">
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree">سامسونگ</label>
                                </div>

                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> اپل</label>
                                </div>

                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> هواوی</label>
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> شیائومی</label>
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> سونی</label>
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> ایسوس</label>
                                </div>
                                <div class="form-account-agree">
                                    <label class="checkbox-form checkbox-primary">
                                        <input type="checkbox" id="agree" />
                                        <span class="checkbox-check"></span>
                                    </label>
                                    <label for="agree"> نوکیا</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-content">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="bootstrap-switch"
                                checked
                            />
                            <label for="">موجود در انبار مسای</label>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-content">
                            <input
                                type="checkbox"
                                name="checkbox"
                                class="bootstrap-switch"
                                checked
                            />
                            <label for="">ارسال فوری</label>
                        </div>
                    </div>
                </aside> -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="listing default">
                        <div class="tab-content default text-center">
                            <div class="text-center text--bold">@Model.ProductCategory.Name</div>
                            <div class="row listing-items">
                                @foreach (var product in Model.ProductCategory.Products)
                                {
                                    <div class="col-xl-3 col-lg-3 col-md-4 col-12 list_search_p">
                                        <div class="product-box">
                                            @if (product.HasDiscount)
                                            {
                                                <div class="product-seller-details product-seller-details-item-grid">
                                                    <div class="countdown-timer-product-category"
                                                         countdown
                                                         data-date="@product.DiscountExpireDate">
                                                        <ul class="text_countdown">
                                                            <li data-days
                                                                class="number_countdown number_countdown_product_category">
                                                                0
                                                            </li>
                                                            <li>روز</li>
                                                        </ul>
                                                        <ul class="text_countdown">
                                                            <li data-hours
                                                                class="number_countdown number_countdown_product_category">
                                                                0
                                                            </li>
                                                            <li>ساعت</li>
                                                        </ul>
                                                        <ul class="text_countdown">
                                                            <li data-minutes
                                                                class="number_countdown number_countdown_product_category">
                                                                0
                                                            </li>
                                                            <li>دقیقه</li>
                                                        </ul>
                                                        <ul class="text_countdown">
                                                            <li data-seconds
                                                                class="number_countdown number_countdown_product_category">
                                                                0
                                                            </li>
                                                            <li>ثانیه</li>
                                                        </ul>
                                                    </div>
                                                    <span class="search_prod_btn">
                                                        <i class="fa fa fa-cart-arrow-down search_icon_cart"
                                                           aria-hidden="true"></i>
                                                    </span>
                                                </div>
                                            }
                                            <a class="product-box-img" href="single-product.html">
                                                <img src="~/Theme/img/product_img/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle"/>
                                            </a>
                                            <div class="product-box-content">
                                                <div class="product-box-content-row">
                                                    <div class="product_title">
                                                        <a href="#">@product.Name</a>
                                                    </div>
                                                </div>
                                                <div class="product-box-row product_price_search">
                                                    <div class="price">
                                                        @if (product.HasDiscount)
                                                        {
                                                            <del><span>@product.Price<span>تومان</span></span></del>
                                                            <span class="discount_badge">@product.DiscountRate%</span>
                                                            <ins><span>@product.PriceWithDiscount<span>تومان</span></span></ins>
                                                        }
                                                        else
                                                        {
                                                            <span>@product.Price<span>تومان</span></span>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main -->

    <footer class="main-footer default">
        <div class="back-to-top">
            <a href="#">
                <span class="icon"><i class="fa fa-chevron-up"></i></span>
                <span> بازگشت بالا </span>
            </a>
        </div>
        <div class="servicesbg">
            <div class="footer-services container space-10">
                <div class="row">
                    <div class="service-item col-2 contact-box text-center">
                        <img src="~/Theme/img/ico/png-4.png" class="width-40" />
                        <span class="title-1 light-black">ضمانت اصل بودن</span>
                    </div>
                    <div class="service-item col-2 contact-box text-center">
                        <img src="~/Theme/img/ico/png-1.png" class="width-40" />
                        <span class="title-1 light-black">پرداخت در محل</span>
                    </div>
                    <div class="service-item col-2 contact-box text-center">
                        <img src="~/Theme/img/ico/png-2.png" class="width-40" />
                        <span class="title-1 light-black">ارسال سریع</span>
                    </div>
                    <div class="service-item col-2 contact-box text-center">
                        <img src="~/Theme/img/ico/png-5.png" class="width-40" />
                        <span class="title-1 light-black">فرصت 7 روزه استرداد</span>
                    </div>
                    <div class="service-item col-2 contact-box text-center">
                        <img src="~/Theme/img/ico/png-3.png" class="width-40" />
                        <span class="title-1 light-black">پشتیبانی تلفنی</span>
                    </div>
                    <div class="service-item col-2 contact-box text-center">
                        <img src="~/Theme/img/ico/png-7.png" class="width-40" />
                        <span class="title-1 light-black">هدیه نقدی</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid space-30 bg-map">
            <div class="footer-widgets container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget-menu widget card">
                            <div class="card-header">
                                <h3 class="card-title">درباره ما</h3>
                            </div>
                            <p class="about_footer">
                                قالب مَسای یک پکیج کامل ایرانی با هدف بی نهایت قالب HTML و
                                WordPress و به روز رسانی همیشگی است، که تمام ویژگی های لازم
                                طراحی سایت را در نظر میگیرد
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget-menu widget card">
                            <div class="card-header">
                                <h3 class="card-title">خدمات مشتریان</h3>
                            </div>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">ارسال فوری</a>
                                </li>
                                <li>
                                    <a href="#">پشتیبانی سریع</a>
                                </li>
                                <li>
                                    <a href="#">بازگشت وجه</a>
                                </li>
                                <li>
                                    <a href="#">بسته بندی کالا</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget-menu widget card">
                            <div class="card-header">
                                <h3 class="card-title">با مَسای شاپ</h3>
                            </div>
                            <ul class="footer-menu">
                                <li>
                                    <a href="#">تامین کالا همکار</a>
                                </li>
                                <li>
                                    <a href="#">تخفیف سازمانی</a>
                                </li>
                                <li>
                                    <a href="#">تماس با ما</a>
                                </li>
                                <li>
                                    <a href="#">درباره ما</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget-menu widget card">
                            <div class="card-header">
                                <h3 class="card-title">مجوزات</h3>
                            </div>
                            <div class="License_img">
                                <a href="#" target="_blank">
                                    <img src="~/Theme/img/License_2.png" alt="" />
                                </a>
                                <a href="#" target="_blank">
                                    <img src="~/Theme/img/License_1.png" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>