@model List<_01_MasaiQuery.Contracts.ProductCategory.ProductCategoryQueryModel>
@{

}

<!-- ? Start Products -->
<div class="row">
    <div class="col-12">
        <div class="widget widget-product card border_all bglight">
            <header class="card-header">
                <h3 class="card-title">
                    <span><img src="~/Theme/img/seller_1.png" style="width: 250px;height: 60px;" /></span>
                </h3>
            </header>
            <div class="product-carousel owl-carousel owl-theme">
                @foreach (var category in Model)
                {
                    if (category.Products == null)
                    {
                        continue;
                    }
                    else
                    {
                        @foreach (var product in category.Products)
                        {
                            <div class="item">
                                <a href="#">
                                    <img src="~/ProductPictures/@product.Picture" class="img-fluid"
                                         alt="@product.PictureAlt" title="@product.PictureTitle"
                                         id="product-tab-@product.Id">
                                </a>
                                <h2 class="product_title">
                                    <a href="#">@product.Name</a>
                                </h2>
                                <div class="price">
                                    @if (product.HasDiscount)
                                    {
                                        <del><span>@product.Price<span>تومان</span></span></del>
                                        <span class="discount_badge">@product.DiscountRate %</span>

                                        <ins><span>@product.PriceWithDiscount<span>تومان</span></span></ins>
                                    }
                                    else
                                    {
                                        <ins><span>@product.Price<span>تومان</span></span></ins>
                                    }

                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <a href="#" class="view_more">مشاهده بیشتر  </a>

        </div>
    </div>
</div>
<!-- ? End Products -->